
{% extends 'layout.html.twig' %}

{% block content %}

<div class="view">
			<!--Intro content-->
			<div class="jumbotron">
				<div class="container text-center">
					<h1>Musée du Louvre</h1>
					<p>Espace Billetterie</p>
					<p><a href="../web/app_dev.php/step/1" class="btn btn-info btn-lg" role="button">Entrez<span class="glyphicon glyphicon glyphicon-shopping-cart"></span></a></p>
				</div>
			</div>
		</div>

{% endblock %}
